.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

main.main article {
    text-align: center;
}

footer[role=group] {
    margin-bottom: 0;
    position: fixed;
    padding-bottom: 0;
    padding-top: 0;
}

#progress-indicator {
    position: fixed;
    right: 0; top: 0;
    width: 60px;
    height: 16px;
    font-family: monospace;
    font-size: smaller;
    color: white;
    background-color: rgb(68, 68, 68);
    text-align: center;
    vertical-align: middle;
}